---
import Section from "../Section.astro";

import { skills } from  "@cv";
---

<Section title="Skills">
    <ul>
        {
            skills.map(({ name }) => (
                <li>
                    <span class="skillName">{name}</span>

                </li>
            ))
        }
    </ul>
</Section>

<style>
    ul{
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li{
        border-radius: 8px;
        background: #222222;
        color: white;
        font-size: .8rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }
</style>