---
import Layout from '../layouts/Layout.astro';
import Experience from '@/components/sections/Experience.astro';
import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import Languages from '@/components/sections/Languages.astro';
import Spaceslider from "@/components/Spaceslider.astro";
import Spacebackground from "@/components/Spacebackground.astro";

---

<Layout title="CV Joan Giménez">
	<div class="slider">
		<Spaceslider />
	</div>
	<div id="spback">
		<Spacebackground />
	</div>
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
		<Languages/>
	</main>
</Layout>

<style>

	body{
		background: white;
		height: 170vh;
  overflow-x: hidden;
	}
	main{
		position: relative;
		z-index: 20;
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
	.slider{
		position: relative;
		z-index: 21;
		max-width: 700px;
	}

	#spback{
		display: none;
	}

	@media (max-width: 820px){
		.slider{
			display: none;
		}
		body{
			background: white !important;
		}
	}
</style>